<!DOCTYPE html>
<html>
  <head>
    <title>BackendEngineerApplication</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <table style="width: 100%">
      <tr>
        <td style="width: 15%; vertical-align: top;" >
          Menu
          <br>
          <ul>
            <% if current_account %>
                <li>
                  <%= link_to 'Rewards', rewards_path %>
                </li>
                <li>
                  <%= link_to 'Settings', edit_setting_path %>
                </li>
                <li>
                  <%= link_to 'Sign out', session_path, method: :delete %>
                </li>
            <% else %>
                <li>
                  <%= link_to 'Sign in', new_session_path %>
                </li>
            <% end %>
          </ul>
        </td>

        <td style="width: 85%" >
          <% if flash[:alert] %>
              <div style="width: 100%; border: 1px solid red">
                <%= flash[:alert] %>
              </div>
          <% end %>

          <% if flash[:notice] %>
              <div style="width: 100%; border: 1px solid green">
                <%= flash[:notice] %>
              </div>
          <% end %>

          <%= yield %>
        </td>
      </tr>
    </table>
  </body>
</html>
